<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.zeitkunst.FluidNexus"
    androidVersionCode="1"
    androidVersionName="0.1">
    <application android:label="@string/app_name">
        <activity android:name=".FluidNexusAndroid" android:label="@string/app_name" android:icon="@drawable/fluid_nexus_icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FluidNexusSettings"></activity>
        <activity android:name=".FluidNexusViewMessage"></activity>
        <activity android:name=".FluidNexusViewOutgoing"></activity>
        <activity android:name=".FluidNexusAddOutgoing"></activity>
        <activity android:name=".FluidNexusHelp"></activity>

    </application>
    <!--        
        <service android:name=".FluidNexusClient" />
        <service android:name=".FluidNexusServer" />

        -->

</manifest> 
